{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="text-center">
        
        <h1>Welcome to MSE Sunshine Bistro</h1>
        <img src="{% static 'images/sunshine.JPG' %}" class="img-fluid mb-4" alt="Picture of a sunset">

        <p class="lead">
            Experience great food, warm hospitality, and a stunning view – all in one place.</p>
        <p>
            Whether you're looking for a relaxed dinner, a romantic evening, or a place to celebrate a special moment,
            we are here to make it memorable.
        </p>
        <p>
            Book your table online and enjoy a delicious experience made with passion and care.
        </p>

        <a href="{% url 'booking' %}" class="btn-primary mt-3">Book a Table</a>
    </div>
{% endblock %}