{% extends "base.html" %}

{% block content %}
<div class="text-center">

    <h1 class="mb4">Menu</h1>

    <p class="mb4">Welcome to MSE Sunshine Bistro. </p>

    <h2>Starters</h2>
    <ul class="list-unstyled mb4">
        <li>Garlic Bread - 40 sek</li>
        <li>Tomato Soup - 55 sek</li>
        <li>Bruchetta - 70 sek</li>
    </ul>

    <h2>Main Courses</h2>
    <ul class="list-unstyled mb4">
        <li>Carbonara - 99 sek</li>
        <li>Spaghetti Bolognese - 125 sek</li>
        <li>Hamburger with Fries - 150 sek</li>
    </ul>

    <h2>Desserts</h2>
    <ul class="list-unstyled mb4">
        <li>Chocolate Fondant - 85 sek</li>
        <li>Crème brûlée - 80 sek</li>
        <li>Tiramisu - 95 sek</li>
    </ul>

    <h2>Drinks</h2>
    <ul class="list-unstyled">
        <li>Soft drinks - 35 sek</li>
        <li>Cider - 65 sek</li>
        <li>Coffe / Tea - 30 sek</li>
    </ul>
</div>
{% endblock %}